@(f:Form[form.HbfForm])(implicit messages: Messages)

@import play.api.i18n.Messages.Implicits._

@layout("作成") {


<div class="container">
  <div class="edit_form">
    @helper.form(action = routes.HbfC.save) {
      <div class="text-center">
        <div class="form-group">
          @helper.textarea(f("url"),
            'class -> "form-control",
            '_showConstraints -> false,
            '_label -> "URL")
        </div>
        <button type="submit" class="btn btn-info btn-save">作成する</button>
      </div>
    }
  <div>
</div>
}
