@(f:Form[form.CronForm])(implicit messages: Messages)

@import play.api.i18n.Messages.Implicits._

@layout("作成") {

<div class="container">
  <div class="edit_form">
    @helper.form(action = routes.CronTableC.save) {
    <div class="form-group">
      <label for="cron_text" class="control-label">cron (crontabの内容をそのまま貼り付けてください)</label>
      @helper.textarea(f("cronText"), 'id -> "cron_text", 'rows -> 16, 'class -> "form-control", '_showConstraints -> false)
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-info btn-save">作成する</button>
    </div>
    }
  </div>
</div>
}
