@()

@layout("TOP") {

<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="lp-title intro-message">
          <h1>crontabの実行タイミングを可視化します!!!</h1>
        </div>
        <div class="row lp-link">
          <div class="col-md-4 col-md-offset-8 col-xs-4 col-xs-offset-8">
            <li><a href="@routes.CronTableC.create()">可視化する!!!</a></li>
            <li><a href="javascript:alert('TODO')">サンプルを見る!!!</a></li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-8">
          <div class="clearfix"></div>
          <h2 class="section-heading">使い方1 「cronの設定をコピーする」</h2>
          <ul class="lead">
            <li>可視化したいcrontabの設定をまるごとコピーします</li>
          </ul>
        </div>
        <div class="col-md-4 col-md-offset-2 col-xs-4">
          <img alt="" class="" src='@routes.Assets.versioned("images/cron_table/dummy200.jpg")' style="height:200px">
        </div>
      </div>
    </div>
  </div>

  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-md-push-3 col-xs-push-4 col-xs-8">
          <div class="clearfix"></div>
          <h2 class="section-heading">使い方2「貼り付ける」</h2>
          <ul class="lead">
            <li><a href="">編集画面</a>を開きます。</li>
            <li>1でコピーしたテキストを貼り付けます</li>
            <li>「作成」ボタンを押します</li>
          </ul>
        </div>
        <div class="col-md-3 col-md-pull-9 col-xs-pull-8 col-xs-4">
          <img alt="" class="" src='@routes.Assets.versioned("images/cron_table/dummy200.jpg")' style="height:200px">
        </div>
      </div>
    </div>
  </div>

<div class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-8">
        <div class="clearfix"></div>
        <h2 class="section-heading">使い方3 「見る」</h2>
        <ul class="lead">
          <li>見ます</li>
          <li>以上!</li>
        </ul>
      </div>
      <div class="col-md-4 col-md-offset-2 col-xs-4">
        <img alt="" class="" src='@routes.Assets.versioned("images/cron_table/dummy200.jpg")' style="height:200px">
      </div>
    </div>
  </div>
</div>
}
