@(cron: models.Cron, cronLines: List[models.CronLine])

@import _root_.helpers._

@layout("表示") {

<script>
$(document).ready(function() {
  $('#cron_table').tablefix({width: 1200, height: 550, fixRows: 2, fixCols: 1});
});

</script>

<table id="cron_table" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th rowspan="2" style="width:300px;">コマンド</th>
    <th rowspan="2" style="width:200px;">タイミング設定</th>
    <th colspan="24">スケジュール</th>
  </tr>
  <tr>
    @for(i <- Range(0, 24)) {
    <th>@i</th>
    }
  </tr>
  </thead>
  @for(l <- cronLines) {
  <tr>
    <td class="cron_cell">@l.command</td>
    <td class="cron_cell">@l.minute @l.hour @l.day @l.month @l.week</td>
    @for(i <- Range(0, 24)) {
    <td class="schedule_cell">
      @if(CronTimeHelper.calcTimes(l.hour.get, 24)._1.contains(i)) {
      @for(m <- CronTimeHelper.calcTimes(l.minute.get, 60)._1) {
      <div class="schedule_on" style="left:@{m}px;"></div>
      }
      }
    </td>
    }
  </tr>
  }
</table>
}
