/** layout */
header{
    background-color: #555273;
    height: 72px;
    width: 100%;
    line-height: 72px;
    color: #b6d5e1;
}

body {
    /** フッターがせり上がってこないように */
    height:100%
}

.wrapper {
    min-height:100%
}

footer{
    background-color: #555273;
    height: 36px;
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    position:absolute;
    #bottom:0;
}

.wrapper{
    margin-top:20px;
}

body{
    color: #555273;
}

#cron_table, #cron_table th, #cron_table td{
    border-color:#b6d5e1;
}

#cron_table thead th, #cron_table thead td{
    border-color:#e2eff1;
}

#cron_table thead{
    background-color: #b6d5e1;
}

#cron_table tbody tr:nth-of-type(odd){
    background-color: #e2eff1;
}

.title{
    font-size:2.6em;
    letter-spacing:0.036em;
}
    .title a{
        color:#ccc;
        text-decoration:none;
    }

/** top **/
.intro-header {
    background: url(/assets/images/cron_table/jumbotron.jpg) no-repeat center center;
    background-size: cover;
    height:400px;
    margin-top:-20px;
}

.intro-message{
    padding-top:18px;
    text-align:center;
}

.intro-message h1{
    color:white;
}

.intro-header .lp-link{
    padding-top:24px;
}

.intro-header .lp-link a{
    color:#428bca;
    font-size:1.2em;
}

/**
.intro-header .lp-link a:hover{
    background-color: #ffffff;
    opacity:0.8;
}
**/

.intro-header .lp-link li{
    list-style-type:none;
}

.content-section:nth-child(even) {
    background-color: #f8f8f8;
}

.lead {
    margin-left:10px;
}

.lead li{
    list-style-type:none;
    font-size:1.2;
}

/** show **/

#cron_table{
    width:1940px;
}

td.schedule_cell {
    position:relative;
    width:60px;
    padding:0px !important;
}

#cron_table td{
    padding:3px;
}

.schedule_on{
    position:absolute;
    float:left;

    width:1px;
    height:26px;
    background-color:#555273;
}

.cron_cell{
    white-space:nowrap;
}


/** edit **/
.edit_form{
    width:800px;
    padding-left:100px;
}

.btn-save{
    padding:10px 40px;
}

dd.error{
    font-size:1.4em;
    font-weight: bold;
    color: #f65068;
}